  
  .mid_section {
    width: 85%;
    margin: 0 auto;
  
    .grid-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      margin-top: 10px;
  
      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
      }
  
      @media (min-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
      }
    }
  
    .grid-item {
      height: 350px;
      text-align: left;
      
      &:nth-child(odd) {
        padding-right: 0;
      }
      
      &:nth-child(even) {
        padding-left: 0;
      }
  
      @media (min-width: 768px) {
        padding: 30px;
      }
    }
  .PImageDiv{
    padding: 30px;
    
  }
    .image {
      width: 100%;
      height: 100%;
    }
  
    .text-content {
      padding: 20px;
  
      h1 {
        font-size: 35px;
        font-weight: 600;
      }
  
      p {
        color: rgb(132, 148, 168);
        margin-top: 20px;
      }
  
      .cta-button {
        margin-top: 20px;
        width: 130px;
        padding: 10px;
        background-color: rgb(28, 160, 227);
        border-radius: 30px;
        color: white;
        font-size: 16px;
        font-weight: 600;
        transition: all 0.3s ease-out;

        
      }
      .cta-button:hover{
        background-color: red;
        width: 145px;
      }
  
      @media (min-width: 768px) {
        padding: 50px;
      }
    }
  }

  