
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  
  .First-part {
    text-align: center;
    margin: 40px;
     
    .vacation {
      color: black;
      margin: 30px;
      font-size: 20px;
    }
  
    .small-p-tag {
      color: grey;
      font-size: 20px;
    }
  
    .button {
      border-radius: 20px;
      padding: 13px;
      border: none;
      margin-top: 50px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
      
      font-size: 21px;
      background-color: white;
      color: #000;
    }
  
    .button:hover {
      background: linear-gradient(90deg, rgba(83,95,220,1) 1%, rgba(99,127,224,1) 8%, rgba(101,143,239,1) 24%, rgba(138,157,229,1) 47%, rgba(90,112,219,1) 64%, rgba(112,122,198,1) 81%, rgba(76,137,225,1) 100%);
      
      color: white;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      transform: scale(1.20);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
      // background: linear-gradient(90deg, #ba6868, rgb(117, 14, 45));    
  
    }
  
    #blue-btn { 
  
      background-color: color;
      color: black;
      border-radius: 55%;
      padding: 13px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
     
      border: none;
    }
  
    #blue-btn:hover {
      
      color: white;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      transform: scale(1.20);
      box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.20); 
      background: linear-gradient(90deg, rgba(83,95,220,1) 1%, rgba(99,127,224,1) 8%, rgba(101,143,239,1) 24%, rgba(138,157,229,1) 47%, rgba(90,112,219,1) 64%, rgba(112,122,198,1) 81%, rgba(76,137,225,1) 100%);
     
    
  
    }
  
    .sorting-buttons {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      gap: 10%;
      padding: 13px;
      // margin-left: 40px;
      // margin-right: 30px;
      justify-content: center;
      align-items: center;
  
      .button {
        // margin-left:110px;
        background: linear-gradient(90deg, rgba(83,95,220,1) 1%, rgba(99,127,224,1) 8%, rgba(101,143,239,1) 24%, rgba(138,157,229,1) 47%, rgba(90,112,219,1) 64%, rgba(112,122,198,1) 81%, rgba(76,137,225,1) 100%);
     
      }
    }
  }
  
  
  #data-list-wrapperr {
    margin: auto;
    width: 80%;
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     gap: 50px;
    justify-content: center;
    padding: 20px;
    }
    
    .card {
    
     width: 250px;
    height: 260px;
    background: #fff;
    display: flex;
    align-items: flex-end;
    padding: 2rem 1rem;
    position: relative;
    transition: 0.5s all ease-in-out;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    
    .card:hover {
    
    transform: translateY(-10px);
    }
    .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(13, 36, 63, 0.3), rgba(13, 36, 63, 1));
    z-index: 2;
    opacity: 0;
    transition: 0.5s all;
    
    }
    .card:hover::before {
    opacity: 1;
    }
    
    .card img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    
    }
    
    .card .info {
    position: relative;
    color: #fff;
    z-index: 3;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
    }
    
    .card:hover .info {
    opacity: 1;
    transform: translateY(0);
    }
    
    .card .info h2{
    padding-top: 20px;
    line-height: 40px;
    /* margin-bottom: 10px; */
    }
    
    .card .info p {
    
    font-size: 15px;
    letter-spacing: 1px;
    /* margin-bottom: 20px; */
    }
    .card .info .btnn {
    background: #fff;
    padding: 0.5rem 1rem;
    color: #000;
    font-size: 12px;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: .4s ease-in-out;
    }
    
    .card .info .btnn:hover {
    background: rgb(83,95,220);
    background: linear-gradient(90deg, rgba(83,95,220,1) 1%, rgba(99,127,224,1) 8%, rgba(101,143,239,1) 24%, rgba(138,157,229,1) 47%, rgba(90,112,219,1) 64%, rgba(112,122,198,1) 81%, rgba(76,137,225,1) 100%);
    color: #fff;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
    }
  
  #paginationwrapper {
    display: flex;
    gap: 40px;
    justify-content: center;
    // justify-content: space-between;
    // box-sizing: border-box;
    width: 80%;
    // margin: 10px;
    display: flex;
    flex-direction: row;
    // margin-left: 10px;
    margin: 0 auto;
    margin-top: 40px;
     
    .pagination-button {
      display: inline-block;
      padding: 20px 26px;
      text-align: center;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.34); 
      line-height:  20px;
      
      text-decoration: none;
  
      // margin-left: 100px;
      height: 70px;
      // border: solid black;
      font-size: 29px;
      width: 70px;
    border: none;
    border-radius: 15px;
    transition: all 0.3s ease-out;
    background: linear-gradient(90deg, rgba(83,95,220,1) 1%, rgba(99,127,224,1) 8%, rgba(101,143,239,1) 24%, rgba(138,157,229,1) 47%, rgba(90,112,219,1) 64%, rgba(112,122,198,1) 81%, rgba(76,137,225,1) 100%);
  
      cursor: pointer;
    }
      .button-default {
        background-color: white;
        color: black;
      }
  
      .pagination-button:hover {
        transform: scale(1.15); 
        // background: linear-gradient(90deg, #ba6868, rgb(117, 14, 45));    
          color: white;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.34); 
      }
  
  }
  
  .flex-Done {
    display: flex;
    flex-direction: row;
    gap: 40%;
  }
  
  #info {
    display: flex;
    gap: 2%;
  }
  
  .right-part-disco {
    margin-top: 50px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10%;
  }
  
  .location-rel-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 17px;
  }
  
  #location-price {
    display: flex;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th,
  td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .included-list {
    list-style-type: square;
    margin: 0;
    padding: 0;
  }
  
  #book-now {
    cursor: pointer;
    transition: all 0.5s ease-out; 
    
  }
  
  #book-now:hover {
    color: white;
    background-color: rgb(245, 31, 31);
    font-size: 24px;
  }
  
  
