body{
  font-family: Arial, Helvetica, sans-serif;

}

.First-part {
    text-align: center;
    margin: 40px;
   .vacation{
     color: black;
     margin: 30px;
     font-size: 20px;
 }
 .small-p-tag{
  color: grey;
      font-size: 20px;

 }
 .button{
     border-radius: 20px;
     padding: 20px;
   margin: 20px;
    border : solid 1px rgb(206, 196, 196);
    background-color: white;
   color: #000;
 }
 #blue-btn{
     background-color: #2c73d0;
     color: white;
     border-radius: 55%;
     padding: 20px;
 }
}

.data-list-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     gap: 30px; 
    justify-content: center;
    padding: 20px;
      margin-left: 150px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin-top: -10px;



    .box{
        border: solid black 1px;
        padding: 20px;
        border-radius: 8px;
        padding: 15px;
        height: 200px;
        text-align: center;
        width: 200px;
       
    }
      .box img{
        max-width: 100%;
        border-radius: 50%;

      }
}


.pagination-wrapper{
    margin : 10px;
    display: flex;
    gap: 100px;
    flex-direction: row;
     margin-top: 40px;
     margin-left: 70px;
     
     .page-button{
        border: solid black 1px;
        padding: 20px;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        text-align: center;
     }
     #Back-btn{
        padding: 20px;
        border-radius: 20px;
        text-align: center;
        height: 20px;
        width: 70px;
        text-align: center;
     }
     #Next-btn{
        text-align: center;
        padding: 20px;
        border-radius: 20px;
        height: 20px;
        width: 70px;
        text-align: center;
     }

}