@import"_Aishu.scss";
@import"_Deepak.scss";
@import"_Praveen.scss";
@import"_Sekhar.scss";
@import"_Shashank.scss";
@import "_Search.scss";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}