body {
    background-image: url('e5155fde000d8088b153efb626fa71ce.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;


    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        #reg {
           
            background-color: rgb(9, 90, 141);
        color: white;
        padding: 10px;
        text-decoration: none;
        border-radius: 10px;
        text-align: center;
        font-size: 16px;
        }
    }

   

    form {
        display: flex;
        flex-direction: column;
        width: 350px;
        margin: 20px auto;
        gap: 10px;

        h1{
            color: rgb(9, 79, 122);
            text-align: center;
            
        }
        

        input {
            padding: 5px;
            border-radius: 5px;
            border: 1px solid black;
        }
        
        input::placeholder {
            text-align: left;
        }
    }
}



 #reg:hover{
    background-color: rgb(4, 32, 41);
}


#login {
    background-color: rgb(9, 90, 141);
    color: white;
    padding: 6px;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
}

#login:hover{
    background-color: rgb(4, 32, 41);
}