body {
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // background-image: url('solidbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    width: 100%;
    height: 90vh;

}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Image/imgforbg.webp");
    background-size: cover;
    filter: blur(2px); 
    z-index: -1; 
  }

*{
    color: white;
}
nav  a:hover{
  
color: rgb(208, 194, 194);
   
}


.tit {
    text-align: center;
    margin: 20px 0 10px;
    font-weight: bold;
    font-size: 35px;
    color: white;
    // color: rgb(0, 0, 0);
}

.rev {
    text-align: center;
    // margin: 10px 0 20px;
    font-weight: bold;
    font-size: 28px;
    color: white;
}



button {
    // background-color: rgb(146, 7, 0);
    // background: linear-gradient(90deg, rgba(83,95,220,1) 1%, rgba(99,127,224,1) 8%, rgba(101,143,239,1) 24%, rgba(138,157,229,1) 47%, rgba(90,112,219,1) 64%, rgba(112,122,198,1) 81%, rgba(76,137,225,1) 100%);

    color: black;
    text-decoration: none;
    border: none;
    padding: 10px;
    // font-style: italic;
}

button:hover {
    background-color: rgb(23, 20, 20);
    color: white;
}

.move button {
    border-radius: 10px;
}

td {
    margin: 10px;
    // color: rgb(95, 92, 92);
}



#cost{
font-size: 25px;
}
th {
    text-align: center;
    padding-left: 10px;
}

nav {
    font-weight: bolder;
    font-size: 17px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    // background-color: rgb(13, 156, 212);
    height: 91px;
    box-shadow: 0 0 10px #000;
    background: #00000083;

    // background: linear-gradient(90deg, rgba(83,95,220,1) 1%, rgba(99,127,224,1) 8%, rgba(101,143,239,1) 24%, rgba(138,157,229,1) 47%, rgba(90,112,219,1) 64%, rgba(112,122,198,1) 81%, rgba(76,137,225,1) 100%);

    a {
        text-decoration: none;
        color: white;
    }

}

.mybook {

    padding: 50px 0;
    // margin-top: -30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    gap: 20px;


    .leftdet {
        width: 530px;
        height: 470px;
        // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        // background-color: white;
        box-shadow: 0 0 10px #000;
        background: #00000083;
    
        border-radius: 20px;
        border: 1px solid rgb(231, 218, 218);
        text-align: center;
        padding: 20px;

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th {
            text-align: left;
            padding: 5px;
        }

        td {
            padding: 5px;
        }

        .move {
            text-align: right;
            margin-top: 0px;
        }

        h3 {
            font-weight: bolder;
        }
    }









    .caro {
        width: 600px;
        height: 470px;
        border: 1px solid rgb(212, 196, 196);
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;



    }

    .carousel-item {
        overflow: hidden;
        border-radius: 19px;
    }
}


@media all and (min-width:375px) and (max-width:680px) {
    .mybook {
        flex-direction: column;
        padding: 10px;

        .leftdet {
            width: 280px;
            height: auto;


        }

        .caro {
            width: 280px;
            height: auto;
            border: 2px solid black;
            border-radius: 20px;

        }
    }
}